/* .Search {
    display: flex;
    
    justify-content: flex-end;
} */

.Search>img {
    width: 3rem;
    height: 3rem;
}

.SearchInput {
    display: flex;
    background-color: var(--searchInput);
    border-radius: 10px;
    padding: 5px;
    margin-top: 0.4rem;
    margin-left: 3rem;
}

.SearchInput>input {
    background-color: transparent;
    border: none;
    outline: none;
}

.SearchIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--buttonBg);
    border-radius: 5px;
    padding: 4px;
    color: white;
}

.SearchIcon:hover {
    cursor: pointer;
}